In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data1 = pd.read_csv("C:/Users/Asus/Downloads/Divar.csv",low_memory=False,encoding='utf-8-sig')

In [3]:
data = data1.copy()

In [4]:
drops = ['Unnamed: 0','city_slug','rent_value','rent_type','rent_credit_transform','transformable_rent','transformed_rent','neighborhood_slug','credit_value', 'transformable_credit','rent_to_single','location_radius','has_warm_water_provider', 'has_gas','has_heating_system', 'has_cooling_system', 'has_restroom','has_security_guard', 'floor_material','transformable_price', 'extra_person_capacity','title','description','rent_mode','price_mode','user_type','credit_mode','cat2_slug','cat3_slug']
data = data.drop(columns=drops,axis=1)
data

,created_at_month,price_value,transformed_credit,land_size,building_size,deed_type,has_business_deed,floor,rooms_count,total_floors_count,...,has_jacuzzi,has_sauna,property_type,regular_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude
0,2024-08-01 00:00:00,NaN,NaN,NaN,500.0,NaN,NaN,NaN,سه,NaN,...,NaN,NaN,NaN,4.0,350000.0,1500000.0,3.500000e+09,3500000.0,35.811684,50.936600
1,2024-05-01 00:00:00,8.500000e+09,NaN,NaN,60.0,NaN,NaN,3,یک,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-10-01 00:00:00,NaN,NaN,NaN,132.0,NaN,NaN,3,سه,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.703865,51.373459
3,2024-06-01 00:00:00,NaN,NaN,NaN,90.0,NaN,NaN,4,یک,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-05-01 00:00:00,5.750000e+09,NaN,NaN,115.0,single_page,NaN,4,دو,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2024-07-01 00:00:00,7.470000e+09,NaN,NaN,180.0,NaN,NaN,4.0,چهار,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.350235,47.083241
999996,2024-07-01 00:00:00,NaN,3.000000e+09,NaN,110.0,NaN,NaN,1.0,دو,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.770454,51.369099
999997,2024-11-01 00:00:00,3.200000e+09,NaN,200.0,200.0,NaN,NaN,NaN,چهار,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999998,2024-09-01 00:00:00,NaN,NaN,NaN,70.0,NaN,NaN,NaN,دو,NaN,...,NaN,NaN,NaN,5.0,NaN,3000000.0,NaN,NaN,37.483501,49.438721
999999,2024-08-01 00:00:00,NaN,2.500000e+08,NaN,40.0,NaN,NaN,2.0,یک,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.680767,51.365299

In [9]:
object_cols = data.select_dtypes(include=['object']).columns
object_cols

Index(['created_at_month', 'deed_type', 'has_business_deed', 'floor',
       'rooms_count', 'total_floors_count', 'unit_per_floor', 'has_balcony',
       'has_elevator', 'has_warehouse', 'has_parking', 'construction_year',
       'is_rebuilt', 'has_water', 'has_electricity', 'has_barbecue',
       'building_direction', 'has_pool', 'has_jacuzzi', 'has_sauna',
       'property_type'],
      dtype='object')

## unit_per_floor

In [12]:
def convert_unit(x):
    if x == 'more_than_8':
        return 9
    elif x == 'unselect':
        return float('nan')
    return float(x)
data.unit_per_floor = data.unit_per_floor.apply(lambda x: convert_unit(x))

## total_floors_count

In [15]:
def convert_total(x):
    if x == '30+':
        return 31
    elif x == 'unselect':
        return float('nan')
    return float(x)
data.total_floors_count = data.total_floors_count.apply(lambda x: convert_total(x))

## rooms_count

In [18]:
def transform(u):
    if u == 'بدون اتاق':
        return int(0)
    elif u == 'یک':
        return int(1)
    elif u == 'دو':
        return int(2)
    elif u == 'سه':
        return int(3)
    elif u == 'چهار':
        return int(4)
    elif u == 'پنج یا بیشتر':
        return int(5)

In [20]:
data.rooms_count = data.rooms_count.apply(lambda x: transform(x))
data.rooms_count

0         3.0
1         1.0
2         3.0
3         1.0
4         2.0
         ...
999995    4.0
999996    2.0
999997    4.0
999998    2.0
999999    1.0
Name: rooms_count, Length: 1000000, dtype: float64

## created_at_month

In [23]:
data['month'] = pd.to_datetime(data['created_at_month']).dt.month
data['year'] = pd.to_datetime(data['created_at_month']).dt.year
data = data.drop('created_at_month',axis=1)
data

,price_value,transformed_credit,land_size,building_size,deed_type,has_business_deed,floor,rooms_count,total_floors_count,unit_per_floor,...,property_type,regular_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude,month,year
0,NaN,NaN,NaN,500.0,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,4.0,350000.0,1500000.0,3.500000e+09,3500000.0,35.811684,50.936600,8,2024
1,8.500000e+09,NaN,NaN,60.0,NaN,NaN,3,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2024
2,NaN,NaN,NaN,132.0,NaN,NaN,3,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35.703865,51.373459,10,2024
3,NaN,NaN,NaN,90.0,NaN,NaN,4,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,2024
4,5.750000e+09,NaN,NaN,115.0,single_page,NaN,4,2.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,7.470000e+09,NaN,NaN,180.0,NaN,NaN,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,34.350235,47.083241,7,2024
999996,NaN,3.000000e+09,NaN,110.0,NaN,NaN,1.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35.770454,51.369099,7,2024
999997,3.200000e+09,NaN,200.0,200.0,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,2024
999998,NaN,NaN,NaN,70.0,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,5.0,NaN,3000000.0,NaN,NaN,37.483501,49.438721,9,2024
999999,NaN,2.500000e+08,NaN,40.0,NaN,NaN,2.0,1.0,8.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,35.680767,51.365299,8,2024

## construcion_year

In [26]:
def convert_construction_year(x):
    if x == 'قبل از ۱۳۷۰':
        return 1370
    elif x == float('nan'):
        return x
    else:
        x = str(x)
        persian_digits ='۱۲۳۴۵۶۷۸۹۰١٢٣٤٥٦٧٨٩٠'
        english_digits ='12345678901234567890'
        translation_table = str.maketrans(persian_digits, english_digits)
        x = float(x.translate(translation_table))
        return x

In [28]:
data['construction_year'] = data.construction_year.apply(convert_construction_year).astype('Int64')

# floor

In [31]:
data.floor.unique()

array([nan, '3', '4', '2', '1', '5', '0', '30', '6', '7', '8', '18', '12',
       '11', '10', '-1', '13', '9', '19', '16', '30+', '21', '15', '22',
       '14', '17', '20', '23', '25', '24', '26', '28', '29', '27', '3.0',
       '2.0', '4.0', '1.0', '0.0', '20.0', '5.0', '7.0', '6.0', '18.0',
       '8.0', '-1.0', '22.0', '10.0', '14.0', '9.0', '11.0'], dtype=object)

In [33]:
def convert_floor(x):
    if x == '30+':
        return 30
    return float(x)
data.floor = data.floor.apply(lambda x: convert_floor(x))

In [35]:
df = data.copy()

In [36]:
df = df[~(df['price_value'].isna()) | ~(df['transformed_credit'].isna())]
df = df[~(df['location_longitude'].isna()) & ~(df['location_longitude'].isna())]

In [39]:
object_cols = df.select_dtypes(include=['object']).columns
object_cols

Index(['deed_type', 'has_business_deed', 'has_balcony', 'has_elevator',
       'has_warehouse', 'has_parking', 'is_rebuilt', 'has_water',
       'has_electricity', 'has_barbecue', 'building_direction', 'has_pool',
       'has_jacuzzi', 'has_sauna', 'property_type'],
      dtype='object')

## Encoding Object Features

In [42]:
df = pd.get_dummies(df, columns = object_cols,dtype = int, prefix_sep='_')
df

,price_value,transformed_credit,land_size,building_size,floor,rooms_count,total_floors_count,unit_per_floor,construction_year,regular_person_capacity,...,has_pool_True,has_jacuzzi_False,has_jacuzzi_True,has_sauna_False,has_sauna_True,property_type_beach,property_type_jungle,property_type_jungle-mountain,property_type_mountain,property_type_other
7,8.700000e+09,NaN,NaN,100.0,4.0,2.0,NaN,NaN,1393,NaN,...,0,0,0,0,0,0,0,0,0,0
8,6.500000e+08,NaN,NaN,78.0,4.0,2.0,6.0,4.0,1396,NaN,...,0,0,0,0,0,0,0,0,0,0
10,2.600000e+09,NaN,NaN,87.0,4.0,2.0,14.0,4.0,1403,NaN,...,0,0,0,0,0,0,0,0,0,0
11,NaN,8.000000e+08,NaN,91.0,1.0,2.0,5.0,NaN,1385,NaN,...,0,0,0,0,0,0,0,0,0,0
12,1.299000e+10,NaN,NaN,169.0,2.0,3.0,6.0,1.0,1403,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999990,4.000000e+09,NaN,NaN,140.0,1.0,2.0,NaN,NaN,1401,NaN,...,0,0,0,0,0,0,0,0,0,0
999991,3.600000e+09,NaN,NaN,91.0,4.0,2.0,4.0,2.0,1388,NaN,...,0,0,0,0,0,0,0,0,0,0
999995,7.470000e+09,NaN,NaN,180.0,4.0,4.0,NaN,NaN,1403,NaN,...,0,0,0,0,0,0,0,0,0,0
999996,NaN,3.000000e+09,NaN,110.0,1.0,2.0,NaN,NaN,1403,NaN,...,0,0,0,0,0,0,0,0,0,0
999999,NaN,2.500000e+08,NaN,40.0,2.0,1.0,8.0,2.0,1382,NaN,...,0,0,0,0,0,0,0,0,0,0

# Feature Selection

In [44]:
from sklearn.model_selection import train_test_split
target = ['price_value','transformed_credit']
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(target, axis=1), 
    df[target],
    test_size=0.3,
    random_state=42
)

In [47]:
xy_train_price = pd.concat([X_train,y_train.price_value],axis=1)
xy_train_credit = pd.concat([X_train,y_train.transformed_credit],axis=1)
xy_test_price = pd.concat([X_test,y_test.price_value],axis=1)
xy_test_credit = pd.concat([X_test,y_test.transformed_credit],axis=1)

## corrlation between features and price_value by spearman method

In [50]:
corr_price = pd.DataFrame(xy_train_price.corr(method='spearman').price_value)

In [51]:
corr_price

                               price_value
land_size                         0.268419
building_size                     0.191949
floor                             0.165922
rooms_count                       0.399091
total_floors_count                0.303859
unit_per_floor                   -0.182681
construction_year                 0.017768
regular_person_capacity                NaN
cost_per_extra_person                  NaN
rent_price_on_regular_days             NaN
rent_price_on_special_days             NaN
rent_price_at_weekends                 NaN
location_latitude                 0.026730
location_longitude                0.063112
month                             0.030865
year                              0.003344
deed_type_multi_page              0.021084
deed_type_other                  -0.045835
deed_type_single_page             0.221998
deed_type_unselect               -0.010278
deed_type_written_agreement      -0.136241
has_business_deed_False           0.002262
has_business_deed_True            0.038762
has_balcony_False                -0.017691
has_balcony_True                  0.026914
has_balcony_false                -0.085515
has_balcony_true                  0.168328
has_balcony_unselect             -0.001175
has_elevator_False               -0.139026
has_elevator_True                 0.296776
has_warehouse_False              -0.100852
has_warehouse_True                0.243039
has_parking_False                -0.181944
has_parking_True                  0.304726
is_rebuilt_False                  0.000906
is_rebuilt_True                   0.064404
has_water_False                  -0.018619
has_water_True                   -0.003565
has_electricity_False            -0.018874
has_electricity_True             -0.003416
has_barbecue_False               -0.016670
has_barbecue_True                 0.000505
building_direction_east          -0.005096
building_direction_north          0.056596
building_direction_south          0.145575
building_direction_unselect      -0.018236
building_direction_west          -0.002152
has_pool_False                   -0.018626
has_pool_True                     0.014998
has_jacuzzi_False                -0.017268
has_jacuzzi_True                  0.015215
has_sauna_False                  -0.014850
has_sauna_True                    0.006390
property_type_beach               0.010550
property_type_jungle             -0.057401
property_type_jungle-mountain    -0.012760
property_type_mountain            0.000779
property_type_other               0.002976
price_value                       1.000000

In [52]:
feature_of_price = corr_price[(corr_price.price_value > 0.15) | (corr_price.price_value < -0.15)].index

## corrlation between features and transformed_credit by spearman method

In [54]:
corr_credit = pd.DataFrame(xy_train_credit.corr(method='spearman').transformed_credit)

In [55]:
corr_credit

                               transformed_credit
land_size                                0.456814
building_size                            0.518550
floor                                    0.229712
rooms_count                              0.481496
total_floors_count                       0.401194
unit_per_floor                          -0.007862
construction_year                        0.201273
regular_person_capacity                       NaN
cost_per_extra_person                         NaN
rent_price_on_regular_days                    NaN
rent_price_on_special_days                    NaN
rent_price_at_weekends                        NaN
location_latitude                        0.159045
location_longitude                       0.071349
month                                    0.053708
year                                     0.022127
deed_type_multi_page                          NaN
deed_type_other                               NaN
deed_type_single_page                         NaN
deed_type_unselect                            NaN
deed_type_written_agreement                   NaN
has_business_deed_False                       NaN
has_business_deed_True                        NaN
has_balcony_False                       -0.036131
has_balcony_True                         0.010016
has_balcony_false                       -0.180654
has_balcony_true                         0.112001
has_balcony_unselect                    -0.005397
has_elevator_False                      -0.293561
has_elevator_True                        0.430816
has_warehouse_False                     -0.198473
has_warehouse_True                       0.241841
has_parking_False                       -0.355193
has_parking_True                         0.388596
is_rebuilt_False                        -0.117898
is_rebuilt_True                          0.011886
has_water_False                         -0.030524
has_water_True                          -0.033112
has_electricity_False                   -0.032359
has_electricity_True                    -0.031932
has_barbecue_False                      -0.051227
has_barbecue_True                        0.006859
building_direction_east                 -0.039252
building_direction_north                -0.000743
building_direction_south                 0.085113
building_direction_unselect             -0.030541
building_direction_west                 -0.025071
has_pool_False                          -0.048989
has_pool_True                            0.008164
has_jacuzzi_False                       -0.047922
has_jacuzzi_True                         0.002252
has_sauna_False                         -0.047123
has_sauna_True                           0.003204
property_type_beach                           NaN
property_type_jungle                          NaN
property_type_jungle-mountain                 NaN
property_type_mountain                        NaN
property_type_other                           NaN
transformed_credit                       1.000000

In [56]:
feature_of_credit = corr_credit[(corr_credit.transformed_credit > 0.15) | (corr_credit.transformed_credit < -0.15)].index

# Featuring of Train And Test

In [64]:
xy_train_price = xy_train_price[feature_of_price]
xy_test_price = xy_test_price[feature_of_price]
xy_train_credit = xy_train_credit[feature_of_credit]
xy_test_credit = xy_test_credit[feature_of_credit]

In [66]:
xy_train_price = xy_train_price[~xy_train_price.price_value.isna()]
xy_test_price = xy_test_price[~xy_test_price.price_value.isna()]
xy_train_credit = xy_train_credit[~xy_train_credit.transformed_credit.isna()]
xy_test_credit = xy_test_credit[~xy_test_credit.transformed_credit.isna()]

# Deleting land_size column becasue has more than 80% null and building_size is its proxy and land_size is not null in residential rent-sell mode

In [69]:
xy_train_credit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38497 entries, 880179 to 310082
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   land_size            4680 non-null   float64
 1   building_size        38497 non-null  float64
 2   floor                31063 non-null  float64
 3   rooms_count          38485 non-null  float64
 4   total_floors_count   19521 non-null  float64
 5   construction_year    38484 non-null  Int64
 6   location_latitude    38497 non-null  float64
 7   has_balcony_false    38497 non-null  int64
 8   has_elevator_False   38497 non-null  int64
 9   has_elevator_True    38497 non-null  int64
 10  has_warehouse_False  38497 non-null  int64
 11  has_warehouse_True   38497 non-null  int64
 12  has_parking_False    38497 non-null  int64
 13  has_parking_True     38497 non-null  int64
 14  transformed_credit   38497 non-null  float64
dtypes: Int64(1), float64(7), int64(7)
memory usage: 4.7 MB

In [71]:
xy_train_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 260395 entries, 901744 to 286738
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   land_size              52176 non-null   float64
 1   building_size          259858 non-null  float64
 2   floor                  145822 non-null  float64
 3   rooms_count            210542 non-null  float64
 4   total_floors_count     94997 non-null   float64
 5   unit_per_floor         93779 non-null   float64
 6   deed_type_single_page  260395 non-null  int64
 7   has_balcony_true       260395 non-null  int64
 8   has_elevator_True      260395 non-null  int64
 9   has_warehouse_True     260395 non-null  int64
 10  has_parking_False      260395 non-null  int64
 11  has_parking_True       260395 non-null  int64
 12  price_value            260395 non-null  float64
dtypes: float64(7), int64(6)
memory usage: 27.8 MB

In [73]:
xy_train_price = xy_train_price.drop('land_size',axis=1)
xy_test_price = xy_test_price.drop('land_size',axis=1)
xy_train_credit = xy_train_credit.drop('land_size',axis=1)
xy_test_credit = xy_test_credit.drop('land_size',axis=1)

# Decrease shape of Data by total_floors_count.notna and unit_per_floor.notna()

In [76]:
xy_train_price = xy_train_price[xy_train_price.unit_per_floor.notna()]
xy_test_price = xy_test_price[xy_test_price.unit_per_floor.notna()]
xy_train_credit = xy_train_credit[xy_train_credit.total_floors_count.notna()]
xy_test_credit = xy_test_credit[xy_test_credit.total_floors_count.notna()]

In [78]:
xy_train_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93779 entries, 901744 to 129019
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   building_size          93779 non-null  float64
 1   floor                  93779 non-null  float64
 2   rooms_count            93779 non-null  float64
 3   total_floors_count     91219 non-null  float64
 4   unit_per_floor         93779 non-null  float64
 5   deed_type_single_page  93779 non-null  int64
 6   has_balcony_true       93779 non-null  int64
 7   has_elevator_True      93779 non-null  int64
 8   has_warehouse_True     93779 non-null  int64
 9   has_parking_False      93779 non-null  int64
 10  has_parking_True       93779 non-null  int64
 11  price_value            93779 non-null  float64
dtypes: float64(6), int64(6)
memory usage: 9.3 MB

In [80]:
xy_train_credit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19521 entries, 128272 to 310082
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   building_size        19521 non-null  float64
 1   floor                19518 non-null  float64
 2   rooms_count          19521 non-null  float64
 3   total_floors_count   19521 non-null  float64
 4   construction_year    19521 non-null  Int64
 5   location_latitude    19521 non-null  float64
 6   has_balcony_false    19521 non-null  int64
 7   has_elevator_False   19521 non-null  int64
 8   has_elevator_True    19521 non-null  int64
 9   has_warehouse_False  19521 non-null  int64
 10  has_warehouse_True   19521 non-null  int64
 11  has_parking_False    19521 non-null  int64
 12  has_parking_True     19521 non-null  int64
 13  transformed_credit   19521 non-null  float64
dtypes: Int64(1), float64(6), int64(7)
memory usage: 2.3 MB

In [82]:
xy_test_credit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8232 entries, 265417 to 624453
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   building_size        8232 non-null   float64
 1   floor                8230 non-null   float64
 2   rooms_count          8232 non-null   float64
 3   total_floors_count   8232 non-null   float64
 4   construction_year    8232 non-null   Int64
 5   location_latitude    8232 non-null   float64
 6   has_balcony_false    8232 non-null   int64
 7   has_elevator_False   8232 non-null   int64
 8   has_elevator_True    8232 non-null   int64
 9   has_warehouse_False  8232 non-null   int64
 10  has_warehouse_True   8232 non-null   int64
 11  has_parking_False    8232 non-null   int64
 12  has_parking_True     8232 non-null   int64
 13  transformed_credit   8232 non-null   float64
dtypes: Int64(1), float64(6), int64(7)
memory usage: 972.7 KB

In [84]:
xy_test_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40246 entries, 581628 to 80852
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   building_size          40246 non-null  float64
 1   floor                  40244 non-null  float64
 2   rooms_count            40246 non-null  float64
 3   total_floors_count     39199 non-null  float64
 4   unit_per_floor         40246 non-null  float64
 5   deed_type_single_page  40246 non-null  int64
 6   has_balcony_true       40246 non-null  int64
 7   has_elevator_True      40246 non-null  int64
 8   has_warehouse_True     40246 non-null  int64
 9   has_parking_False      40246 non-null  int64
 10  has_parking_True       40246 non-null  int64
 11  price_value            40246 non-null  float64
dtypes: float64(6), int64(6)
memory usage: 4.0 MB

# Decrease shape of Data by total_floors_count.notna and floor.notna()

In [87]:
xy_train_price = xy_train_price[xy_train_price.total_floors_count.notna()]
xy_test_price = xy_test_price[xy_test_price.total_floors_count.notna()]
xy_train_credit = xy_train_credit[xy_train_credit.floor.notna()]
xy_test_credit = xy_test_credit[xy_test_credit.floor.notna()]

# Delete Outliers

In [234]:
xrp = xy_train_price.copy()
xrc = xy_train_credit.copy()

In [236]:
xrp = xrp.sample(frac=0.2,random_state=42)

In [238]:
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

df01 = xrp.drop(axis=1,columns = ['price_value'])
df02 = xrc.drop(axis=1,columns = ['transformed_credit'])
scaler1 = StandardScaler()
scaler2 = StandardScaler()

df1 = scaler1.fit_transform(df01)
df2 = scaler2.fit_transform(df02)

model1 = DBSCAN(eps=0.001,min_samples=20)
model2 = DBSCAN(eps=1,min_samples=1)

clusters1 = model1.fit_predict(df1)
clusters2 = model2.fit_predict(df2)

s1 = scaler1.inverse_transform(df1)
s2 = scaler2.inverse_transform(df2)

xrp2 = pd.DataFrame(s1, columns=df01.columns)
xrc2 = pd.DataFrame(s2, columns=df02.columns)

b1 = (xrp['price_value'].reset_index())['price_value']
b2 = (xrc['transformed_credit'].reset_index())['transformed_credit']

xrp2 = pd.concat([xrp2,b1],axis =1)
xrc2 = pd.concat([xrc2,b2],axis =1)

xrp2 = xrp2[clusters1 !=-1]
xrc2 = xrc2[clusters2 !=-1]

In [239]:
xrp.describe()

,building_size,floor,rooms_count,total_floors_count,unit_per_floor,deed_type_single_page,has_balcony_true,has_elevator_True,has_warehouse_True,has_parking_False,has_parking_True,price_value
count,18244.000000,18244.000000,18244.000000,18244.000000,18244.000000,18244.000000,18244.000000,18244.000000,18244.000000,18244.000000,18244.000000,1.824400e+04
mean,212.971717,2.840770,2.000877,5.005426,2.351842,0.736681,0.818022,0.709822,0.858529,0.193488,0.806512,1.357930e+10
std,6483.845585,2.221575,0.670846,2.896793,1.463146,0.440446,0.385837,0.453857,0.348516,0.395043,0.395043,2.620854e+11
min,1.000000,-1.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,70.000000,1.000000,2.000000,4.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,2.050000e+09
50%,90.000000,3.000000,2.000000,4.000000,2.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,3.500000e+09
75%,120.000000,4.000000,2.000000,5.000000,3.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,6.400000e+09
max,600000.000000,30.000000,5.000000,31.000000,9.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.200000e+13

In [240]:
xrp2.describe()

,building_size,floor,rooms_count,total_floors_count,unit_per_floor,deed_type_single_page,has_balcony_true,has_elevator_True,has_warehouse_True,has_parking_False,has_parking_True,price_value
count,2978.000000,2978.000000,2978.000000,2978.000000,2978.000000,2978.000000,2978.0,2978.000000,2978.0,2978.000000,2.978000e+03,2.978000e+03
mean,95.397918,2.583949,2.042646,4.277032,1.932169,0.943251,1.0,0.801209,1.0,0.006716,9.932841e-01,6.089160e+09
std,26.218030,1.193633,0.464957,0.745031,0.605178,0.231402,0.0,0.399158,0.0,0.081689,8.168876e-02,5.633610e+09
min,40.000000,1.000000,1.000000,3.000000,1.000000,0.000000,1.0,0.000000,1.0,0.000000,1.110223e-16,0.000000e+00
25%,78.000000,2.000000,2.000000,4.000000,2.000000,1.000000,1.0,1.000000,1.0,0.000000,1.000000e+00,2.505000e+09
50%,92.500000,2.500000,2.000000,4.000000,2.000000,1.000000,1.0,1.000000,1.0,0.000000,1.000000e+00,4.225500e+09
75%,110.000000,3.000000,2.000000,5.000000,2.000000,1.000000,1.0,1.000000,1.0,0.000000,1.000000e+00,7.700000e+09
max,170.000000,5.000000,3.000000,5.000000,4.000000,1.000000,1.0,1.000000,1.0,1.000000,1.000000e+00,7.150000e+10

In [241]:
xrc.describe()

,building_size,floor,rooms_count,total_floors_count,construction_year,location_latitude,has_balcony_false,has_elevator_False,has_elevator_True,has_warehouse_False,has_warehouse_True,has_parking_False,has_parking_True,transformed_credit
count,1.951800e+04,19518.000000,19518.000000,19518.000000,19518.0,19518.000000,19518.000000,19518.000000,19518.000000,19518.000000,19518.000000,19518.000000,19518.000000,1.951800e+04
mean,2.254639e+02,2.803771,2.080490,4.874577,1394.064607,35.418536,0.105646,0.332923,0.667077,0.162824,0.837176,0.215186,0.784814,7.876930e+08
std,7.663555e+03,2.237253,0.716252,2.983713,6.991,1.567225,0.307392,0.471271,0.471271,0.369215,0.369215,0.410962,0.410962,1.222188e+09
min,2.000000e+01,-1.000000,0.000000,2.000000,1370.0,25.279951,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,7.500000e+01,1.000000,2.000000,4.000000,1390.0,35.665564,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,2.700000e+08
50%,1.000000e+02,2.000000,2.000000,4.000000,1395.0,35.737501,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,5.000000e+08
75%,1.350000e+02,4.000000,3.000000,5.000000,1400.0,35.805624,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,9.000000e+08
max,1.006070e+06,30.000000,5.000000,31.000000,1403.0,39.661343,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000e+10

In [242]:
xrc2.describe()

,building_size,floor,rooms_count,total_floors_count,construction_year,location_latitude,has_balcony_false,has_elevator_False,has_elevator_True,has_warehouse_False,has_warehouse_True,has_parking_False,has_parking_True,transformed_credit
count,1.951800e+04,19518.000000,19518.000000,19518.000000,19518.000000,19518.000000,19518.000000,19518.000000,19518.000000,19518.000000,19518.000000,1.951800e+04,19518.000000,1.951800e+04
mean,2.254639e+02,2.803771,2.080490,4.874577,1394.064607,35.418536,0.105646,0.332923,0.667077,0.162824,0.837176,2.151860e-01,0.784814,7.876930e+08
std,7.663555e+03,2.237253,0.716252,2.983713,6.991000,1.567225,0.307392,0.471271,0.471271,0.369215,0.369215,4.109618e-01,0.410962,1.222188e+09
min,2.000000e+01,-1.000000,0.000000,2.000000,1370.000000,25.279951,0.000000,0.000000,0.000000,0.000000,0.000000,-2.775558e-17,0.000000,0.000000e+00
25%,7.500000e+01,1.000000,2.000000,4.000000,1390.000000,35.665564,0.000000,0.000000,0.000000,0.000000,1.000000,-2.775558e-17,1.000000,2.700000e+08
50%,1.000000e+02,2.000000,2.000000,4.000000,1395.000000,35.737501,0.000000,0.000000,1.000000,0.000000,1.000000,-2.775558e-17,1.000000,5.000000e+08
75%,1.350000e+02,4.000000,3.000000,5.000000,1400.000000,35.805624,0.000000,1.000000,1.000000,0.000000,1.000000,-2.775558e-17,1.000000,9.000000e+08
max,1.006070e+06,30.000000,5.000000,31.000000,1403.000000,39.661343,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,5.000000e+10

## Create model for credit

In [244]:
train_sample = xrc2

In [107]:
from sklearn.pipeline import Pipeline
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler

pipe = Pipeline([
        ('scale',StandardScaler()),
        ('svr',SVR())]
)

params = {
    'svr__C': [ 0.1, 1, 10,20],
    'svr__kernel' : ['poly'],
    'svr__degree' : [2,3,4],
    'svr__gamma' : ['auto'],
}


grid_search = GridSearchCV(pipe,params,cv=3,return_train_score=True,scoring='neg_mean_squared_error')
grid_search.fit(train_sample.drop('transformed_credit',axis=1),train_sample.transformed_credit)
grid_search.best_estimator_

Pipeline(steps=[('scale', StandardScaler()),
                ('svr', SVR(C=20, degree=4, gamma='auto', kernel='poly'))])

In [109]:
grid_search.best_score_

np.float64(-1.269785602995624e+18)

In [245]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import lightgbm as lgb
import joblib

X_train = train_sample.drop('transformed_credit',axis=1)
y_train = train_sample.transformed_credit

# 4. تنظیم پارامترهای پایه
base_params = {
    'objective': 'regression',
    'metric': 'rmse',
    'boosting_type': 'gbdt',  
    'verbose': -1,
    'random_state': 42
}

# 5. تعریف فضای هایپرپارامترها
param_grid = {
    'num_leaves': [15, 31, 63],
    'learning_rate': [0.01, 0.05, 0.1],
    'feature_fraction': [0.7, 0.8, 0.9],
    'bagging_fraction': [0.7, 0.8, 0.9],
    'min_data_in_leaf': [10, 20, 40],
    'lambda_l1': [0, 0.1, 0.5],
    'lambda_l2': [0, 0.1, 0.5]
}

# 6. تنظیم مدل با RandomizedSearchCV
model = lgb.LGBMRegressor(**base_params)

# 7. جستجوی تصادفی با اعتبارسنجی متقاطع
random_search = RandomizedSearchCV(
    estimator=model,
    param_distributions=param_grid,
    n_iter=20,
    scoring='neg_root_mean_squared_error',
    cv=5,
    n_jobs=-1,
    verbose=1,
    random_state=42
)

# 8. آموزش مدل با جستجوی هایپرپارامتر
random_search.fit(X_train, y_train)

# 9. بهترین مدل
best_model = random_search.best_estimator_
print(random_search.best_params_)
print(-random_search.best_score_)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
{'num_leaves': 15, 'min_data_in_leaf': 10, 'learning_rate': 0.1, 'lambda_l2': 0, 'lambda_l1': 0.5, 'feature_fraction': 0.7, 'bagging_fraction': 0.9}
776753356.2651014

In [246]:
y_pred = best_model.predict(xy_test_credit.drop('transformed_credit',axis=1))
r2_score(xy_test_credit.transformed_credit,y_pred)

0.6201660574131175

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.svm import SVR
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler

pipe = Pipeline([
        ('scale',StandardScaler()),
        ('svr',SVR())]
)

params = {
    'svr__C': [0.001, 0.01, 0.1, 1, 10],
    'svr__kernel' : ['rbf','poly'],
    'svr__degree' : [2,3,4,5],
    'svr__gamma' : ['scale', 'auto', 0.01, 0.1, 1],
    'svr__epsilon' : [0.01, 0.1, 0.5]
}

grid_search = GridSearchCV(pipe,params,cv=5,return_train_score=True,scoring='neg_mean_squared_error')
grid_search.fit(xy_train_credit.drop('transformed_credit',axis=1),xy_train_credit.transformed_credit)
grid_search.best_model_

In [464]:
xrc2

,building_size,rooms_count,total_floors_count,has_elevator_False,has_elevator_True,has_parking_False,has_parking_True,transformed_credit
0,56.0,1.0,3.0,1.0,0.0,1.0,0.0,150000000.0
1,110.0,2.0,3.0,1.0,0.0,0.0,1.0,850000000.0
2,80.0,2.0,4.0,0.0,1.0,0.0,1.0,125000000.0
3,92.0,2.0,3.0,1.0,0.0,0.0,1.0,140000000.0
4,50.0,1.0,2.0,1.0,0.0,1.0,0.0,250000000.0
...,...,...,...,...,...,...,...,...
19516,55.0,1.0,5.0,0.0,1.0,0.0,1.0,900000000.0
19517,100.0,2.0,3.0,1.0,0.0,0.0,1.0,110000000.0
19518,120.0,2.0,3.0,1.0,0.0,0.0,1.0,300000000.0
19519,68.0,1.0,4.0,1.0,0.0,0.0,1.0,200000000.0
19520,110.0,2.0,3.0,1.0,0.0,0.0,1.0,600000000.0

In [462]:
xy_test_credit

,building_size,rooms_count,total_floors_count,has_elevator_False,has_elevator_True,has_parking_False,has_parking_True,transformed_credit
265417,108.0,2.0,4.0,1,0,0,1,1.000000e+09
279552,145.0,3.0,5.0,0,1,0,1,1.200000e+09
107092,180.0,3.0,5.0,0,1,0,1,1.000000e+09
438560,90.0,2.0,15.0,0,1,0,1,8.000000e+08
321771,70.0,2.0,4.0,1,0,0,1,4.000000e+08
...,...,...,...,...,...,...,...,...
97701,75.0,1.0,3.0,1,0,1,0,1.000000e+08
271442,280.0,3.0,6.0,0,1,0,1,7.000000e+09
664971,110.0,2.0,4.0,0,1,0,1,5.000000e+08
895765,278.0,4.0,30.0,0,1,0,1,6.000000e+09
624453,140.0,3.0,4.0,0,1,0,1,2.000000e+08