In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data1 = pd.read_csv("C:/Users/Asus/Downloads/Divar.csv",low_memory=False,encoding='utf-8-sig')

In [4]:
data = data1.copy()

In [5]:
drops = ['Unnamed: 0','city_slug','rent_value','rent_type','rent_credit_transform','transformable_rent','transformed_rent','neighborhood_slug','credit_value', 'transformable_credit','rent_to_single','location_radius','transformable_price', 'extra_person_capacity','title','rent_mode','price_mode','user_type','credit_mode','cat2_slug','cat3_slug']
data = data.drop(columns=drops,axis=1)
data

,created_at_month,description,price_value,transformed_credit,land_size,building_size,deed_type,has_business_deed,floor,rooms_count,...,has_sauna,floor_material,property_type,regular_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude
0,2024-08-01 00:00:00,۵۰۰متر\n۲۰۰متر بنا دوبلکس\n۳خواب\nاستخر آبگرم ...,NaN,NaN,NaN,500.0,NaN,NaN,NaN,سه,...,NaN,NaN,NaN,4.0,350000.0,1500000.0,3.500000e+09,3500000.0,35.811684,50.936600
1,2024-05-01 00:00:00,دسترسی عالی به مترو و شریعتی \nمشاعات تمیز \nب...,8.500000e+09,NaN,NaN,60.0,NaN,NaN,3,یک,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-10-01 00:00:00,تخلیه پایان ماه,NaN,NaN,NaN,132.0,NaN,NaN,3,سه,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.703865,51.373459
3,2024-06-01 00:00:00,فرشته تاپ لوکیشن\n۹۰ متر موقعیت اداری\nیک اتاق...,NaN,NaN,NaN,90.0,NaN,NaN,4,یک,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-05-01 00:00:00,هلدینگ ساختمانی اکبری\n\nهمراه شما هستیم برای ...,5.750000e+09,NaN,NaN,115.0,single_page,NaN,4,دو,...,NaN,ceramic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2024-07-01 00:00:00,~~~مشاورین املاک قبادی~~~\n■جنوبی تک واحدی\n■د...,7.470000e+09,NaN,NaN,180.0,NaN,NaN,4.0,چهار,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.350235,47.083241
999996,2024-07-01 00:00:00,نوساز \n\n تک واحدی\n\nشخصی ساز\n\nروف گا...,NaN,3.000000e+09,NaN,110.0,NaN,NaN,1.0,دو,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.770454,51.369099
999997,2024-11-01 00:00:00,سلام ودرود\nفروش منزل مسکونی واقع در خیابان ان...,3.200000e+09,NaN,200.0,200.0,NaN,NaN,NaN,چهار,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999998,2024-09-01 00:00:00,سویت بدون خواب (روبه دریا و معمولی)\nسویت ۱خوا...,NaN,NaN,NaN,70.0,NaN,NaN,NaN,دو,...,NaN,NaN,NaN,5.0,NaN,3000000.0,NaN,NaN,37.483501,49.438721
999999,2024-08-01 00:00:00,⚜️املاک بزرگ میلیارد⚜️\n✅️۴۰ متر یک خواب\n✅️نو...,NaN,2.500000e+08,NaN,40.0,NaN,NaN,2.0,یک,...,NaN,ceramic,NaN,NaN,NaN,NaN,NaN,NaN,35.680767,51.365299

In [6]:
object_cols = data.select_dtypes(include=['object']).columns
object_cols

Index(['created_at_month', 'description', 'deed_type', 'has_business_deed',
       'floor', 'rooms_count', 'total_floors_count', 'unit_per_floor',
       'has_balcony', 'has_elevator', 'has_warehouse', 'has_parking',
       'construction_year', 'is_rebuilt', 'has_water',
       'has_warm_water_provider', 'has_electricity', 'has_gas',
       'has_heating_system', 'has_cooling_system', 'has_restroom',
       'has_security_guard', 'has_barbecue', 'building_direction', 'has_pool',
       'has_jacuzzi', 'has_sauna', 'floor_material', 'property_type'],
      dtype='object')

# rengex on description

In [8]:
data['area'] = data['description'].str.extract(r'(\d+)\s*متر')

In [9]:
def convert_number(x):
    
    if x == float('nan'):
        return x
    else:
        x = str(x)
        persian_digits ='۱۲۳۴۵۶۷۸۹۰١٢٣٤٥٦٧٨٩٠'
        english_digits ='12345678901234567890'
        translation_table = str.maketrans(persian_digits, english_digits)
        x = float(x.translate(translation_table))
        return x

In [10]:
data['area'] = data.area.apply(convert_number).astype('Int64')

In [11]:
data['land_size'] = data['land_size'].fillna(data.area)

In [12]:
data = data.drop(columns=['description','area'],axis=1)

## floor_material

In [17]:
def convert_material(x):
    if x == 'unselect':
        return float('nan')
    return x
data.floor_material = data.floor_material.apply(lambda x: convert_material(x))

## unit_per_floor

In [24]:
def convert_unit(x):
    if x == 'more_than_8':
        return 9
    elif x == 'unselect':
        return float('nan')
    return float(x)
data.unit_per_floor = data.unit_per_floor.apply(lambda x: convert_unit(x))

## total_floors_count

In [27]:
def convert_total(x):
    if x == '30+':
        return 31
    elif x == 'unselect':
        return float('nan')
    return float(x)
data.total_floors_count = data.total_floors_count.apply(lambda x: convert_total(x))

## rooms_count

In [32]:
def transform(u):
    if u == 'بدون اتاق':
        return int(0)
    elif u == 'یک':
        return int(1)
    elif u == 'دو':
        return int(2)
    elif u == 'سه':
        return int(3)
    elif u == 'چهار':
        return int(4)
    elif u == 'پنج یا بیشتر':
        return int(5)

In [34]:
data.rooms_count = data.rooms_count.apply(lambda x: transform(x))
data.rooms_count

0         3.0
1         1.0
2         3.0
3         1.0
4         2.0
         ...
999995    4.0
999996    2.0
999997    4.0
999998    2.0
999999    1.0
Name: rooms_count, Length: 1000000, dtype: float64

## created_at_month

In [37]:
data['month'] = pd.to_datetime(data['created_at_month']).dt.month
data['year'] = pd.to_datetime(data['created_at_month']).dt.year
data = data.drop('created_at_month',axis=1)
data

,price_value,transformed_credit,land_size,building_size,deed_type,has_business_deed,floor,rooms_count,total_floors_count,unit_per_floor,...,property_type,regular_person_capacity,cost_per_extra_person,rent_price_on_regular_days,rent_price_on_special_days,rent_price_at_weekends,location_latitude,location_longitude,month,year
0,NaN,NaN,500.0,500.0,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,4.0,350000.0,1500000.0,3.500000e+09,3500000.0,35.811684,50.936600,8,2024
1,8.500000e+09,NaN,<NA>,60.0,NaN,NaN,3,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2024
2,NaN,NaN,<NA>,132.0,NaN,NaN,3,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35.703865,51.373459,10,2024
3,NaN,NaN,90.0,90.0,NaN,NaN,4,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,2024
4,5.750000e+09,NaN,<NA>,115.0,single_page,NaN,4,2.0,6.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,7.470000e+09,NaN,<NA>,180.0,NaN,NaN,4.0,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,34.350235,47.083241,7,2024
999996,NaN,3.000000e+09,30.0,110.0,NaN,NaN,1.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35.770454,51.369099,7,2024
999997,3.200000e+09,NaN,200.0,200.0,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,2024
999998,NaN,NaN,<NA>,70.0,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,5.0,NaN,3000000.0,NaN,NaN,37.483501,49.438721,9,2024
999999,NaN,2.500000e+08,40.0,40.0,NaN,NaN,2.0,1.0,8.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,35.680767,51.365299,8,2024

## construcion_year

In [39]:
def convert_construction_year(x):
    if x == 'قبل از ۱۳۷۰':
        return 1370
    elif x == float('nan'):
        return x
    else:
        x = str(x)
        persian_digits ='۱۲۳۴۵۶۷۸۹۰١٢٣٤٥٦٧٨٩٠'
        english_digits ='12345678901234567890'
        translation_table = str.maketrans(persian_digits, english_digits)
        x = float(x.translate(translation_table))
        return x

In [40]:
data['construction_year'] = data.construction_year.apply(convert_construction_year).astype('Int64')

# floor

In [44]:
data.floor.unique()

array([nan, '3', '4', '2', '1', '5', '0', '30', '6', '7', '8', '18', '12',
       '11', '10', '-1', '13', '9', '19', '16', '30+', '21', '15', '22',
       '14', '17', '20', '23', '25', '24', '26', '28', '29', '27', '3.0',
       '2.0', '4.0', '1.0', '0.0', '20.0', '5.0', '7.0', '6.0', '18.0',
       '8.0', '-1.0', '22.0', '10.0', '14.0', '9.0', '11.0'], dtype=object)

In [45]:
def convert_floor(x):
    if x == '30+':
        return 30
    return float(x)
data.floor = data.floor.apply(lambda x: convert_floor(x))

In [46]:
df = data.copy()

In [47]:
df = df[~(df['price_value'].isna()) | ~(df['transformed_credit'].isna())]
#df = df[~(df['location_longitude'].isna()) & ~(df['location_longitude'].isna())]

In [48]:
object_cols = df.select_dtypes(include=['object']).columns
object_cols

Index(['deed_type', 'has_business_deed', 'has_balcony', 'has_elevator',
       'has_warehouse', 'has_parking', 'is_rebuilt', 'has_water',
       'has_warm_water_provider', 'has_electricity', 'has_gas',
       'has_heating_system', 'has_cooling_system', 'has_restroom',
       'has_security_guard', 'has_barbecue', 'building_direction', 'has_pool',
       'has_jacuzzi', 'has_sauna', 'floor_material', 'property_type'],
      dtype='object')

## Encoding Object Features

In [50]:
df = pd.get_dummies(df, columns = object_cols,dtype = int, prefix_sep='_')
df

,price_value,transformed_credit,land_size,building_size,floor,rooms_count,total_floors_count,unit_per_floor,construction_year,regular_person_capacity,...,floor_material_floor_covering,floor_material_laminate_parquet,floor_material_mosaic,floor_material_stone,floor_material_wood_parquet,property_type_beach,property_type_jungle,property_type_jungle-mountain,property_type_mountain,property_type_other
1,8.500000e+09,NaN,<NA>,60.0,3.0,1.0,NaN,NaN,1384,NaN,...,0,0,0,0,0,0,0,0,0,0
4,5.750000e+09,NaN,<NA>,115.0,4.0,2.0,6.0,NaN,1403,NaN,...,0,0,0,0,0,0,0,0,0,0
5,NaN,4.000000e+08,100.0,100.0,3.0,2.0,3.0,2.0,1389,NaN,...,0,0,0,0,0,0,0,0,0,0
7,8.700000e+09,NaN,100.0,100.0,4.0,2.0,NaN,NaN,1393,NaN,...,0,0,0,0,0,0,0,0,0,0
8,6.500000e+08,NaN,78.0,78.0,4.0,2.0,6.0,4.0,1396,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999992,4.350000e+09,NaN,<NA>,105.0,2.0,2.0,5.0,2.0,1401,NaN,...,0,0,0,0,0,0,0,0,0,0
999995,7.470000e+09,NaN,<NA>,180.0,4.0,4.0,NaN,NaN,1403,NaN,...,0,0,0,0,0,0,0,0,0,0
999996,NaN,3.000000e+09,30.0,110.0,1.0,2.0,NaN,NaN,1403,NaN,...,0,0,0,0,0,0,0,0,0,0
999997,3.200000e+09,NaN,200.0,200.0,NaN,4.0,NaN,NaN,1370,NaN,...,0,0,0,0,0,0,0,0,0,0
999999,NaN,2.500000e+08,40.0,40.0,2.0,1.0,8.0,2.0,1382,NaN,...,0,0,0,0,0,0,0,0,0,0

# Feature Selection

In [59]:
from sklearn.model_selection import train_test_split
target = ['price_value','transformed_credit']
X_train, X_test, y_train, y_test = train_test_split(
    df.drop(target, axis=1), 
    df[target],
    test_size=0.3,
    random_state=42
)

In [60]:
xy_train_price = pd.concat([X_train,y_train.price_value],axis=1)
xy_train_credit = pd.concat([X_train,y_train.transformed_credit],axis=1)
xy_test_price = pd.concat([X_test,y_test.price_value],axis=1)
xy_test_credit = pd.concat([X_test,y_test.transformed_credit],axis=1)

# Do features of xy_train_price have relationship with target of xy_train_price

In [130]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import GridSearchCV

train_sample = xy_train_price
train_sample = train_sample[train_sample.price_value.notna()]
test_sample = xy_test_price[xy_test_price.price_value.notna()]
X_train = train_sample.drop('price_value',axis=1)
y_train = train_sample.price_value
x_test = test_sample.drop('price_value',axis=1)
y_test = test_sample.price_value

X_train.fillna(-999)
x_test.fillna(-999)

param_grid = {
    'n_estimators': [100, 50],
    'max_depth': [10, 20, None],
    'min_samples_split': [20, 30]
}

grid_search = GridSearchCV(
    estimator=RandomForestRegressor(max_samples=10000, n_jobs=-1,random_state = 42),
    param_grid=param_grid,
    cv=5,
    scoring='neg_mean_squared_error'
)
grid_search.fit(X_train, y_train)
print(grid_search.best_params_)
best_model = grid_search.best_estimator_
y_pred = best_model.predict(x_test)
r2_score(y_test,y_pred)

{'max_depth': 10, 'min_samples_split': 30, 'n_estimators': 100}

-0.008614302965695986

## corrlation between features and price_value by spearman method

In [63]:
corr_price = pd.DataFrame(xy_train_price.corr(method='spearman').price_value)

In [64]:
corr_price.price_value = corr_price.price_value.mask(corr_price.price_value<0,np.abs(corr_price.price_value))

In [65]:
corr_price.sort_values(by = 'price_value',ascending =  False).head(30)

                                      price_value
price_value                              1.000000
rooms_count                              0.410267
has_parking_True                         0.319728
total_floors_count                       0.308744
has_elevator_True                        0.305930
has_restroom_squat_seat                  0.304666
has_warehouse_True                       0.261314
floor_material_stone                     0.228539
deed_type_single_page                    0.212568
unit_per_floor                           0.196505
building_size                            0.189588
has_parking_False                        0.183597
has_cooling_system_duct_split            0.181881
floor                                    0.180124
has_heating_system_duct_split            0.178259
has_restroom_squat                       0.174787
has_warm_water_provider_package          0.170676
has_balcony_true                         0.170643
has_warm_water_provider_powerhouse       0.169655
has_heating_system_shoofaj               0.155996
building_direction_south                 0.143806
has_elevator_False                       0.134726
deed_type_written_agreement              0.127904
land_size                                0.119453
has_warehouse_False                      0.104722
has_warm_water_provider_water_heater     0.104592
has_heating_system_heater                0.100710
has_balcony_false                        0.093069
has_heating_system_fan_coil              0.087280
has_cooling_system_fan_coil              0.084003

In [66]:
feature_of_price = corr_price.sort_values(by = 'price_value',ascending =  False).index[0:25]

## corrlation between features and transformed_credit by spearman method

In [68]:
corr_credit = pd.DataFrame(xy_train_credit.corr(method='spearman').transformed_credit)

In [69]:
corr_credit.transformed_credit = corr_credit.transformed_credit.mask(corr_credit.transformed_credit<0,np.abs(corr_credit.transformed_credit))

In [70]:
feature_of_credit = corr_credit.sort_values(by = 'transformed_credit',ascending =  False).index[0:16]

# Featuring of Train And Test

In [72]:
xy_train_price = xy_train_price[feature_of_price]
xy_test_price = xy_test_price[feature_of_price]
xy_train_credit = xy_train_credit[feature_of_credit]
xy_test_credit = xy_test_credit[feature_of_credit]

In [73]:
xy_train_price = xy_train_price[xy_train_price.price_value.notna()]
xy_test_price = xy_test_price[xy_test_price.price_value.notna()]
xy_train_credit = xy_train_credit[xy_train_credit.transformed_credit.notna()]
xy_test_credit = xy_test_credit[xy_test_credit.transformed_credit.notna()]

# Deleting land_size column becasue has more than 80% null and building_size is its proxy and land_size is not null in residential rent-sell mode

In [75]:
xy_train_credit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50613 entries, 741484 to 571379
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   transformed_credit                    50613 non-null  float64
 1   building_size                         50613 non-null  float64
 2   rooms_count                           50601 non-null  float64
 3   has_elevator_True                     50613 non-null  int64
 4   total_floors_count                    24409 non-null  float64
 5   has_parking_True                      50613 non-null  int64
 6   land_size                             32744 non-null  Float64
 7   has_restroom_squat                    50613 non-null  int64
 8   has_parking_False                     50613 non-null  int64
 9   has_warm_water_provider_water_heater  50613 non-null  int64
 10  has_heating_system_heater             50613 non-null  int64
 11  has_restroom_squat_seat               50613 non-null  int64
 12  floor_material_stone                  50613 non-null  int64
 13  has_elevator_False                    50613 non-null  int64
 14  has_cooling_system_duct_split         50613 non-null  int64
 15  has_heating_system_duct_split         50613 non-null  int64
dtypes: Float64(1), float64(4), int64(11)
memory usage: 6.6 MB

In [76]:
xy_train_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 397915 entries, 21892 to 190637
Data columns (total 25 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   price_value                         397915 non-null  float64
 1   rooms_count                         319795 non-null  float64
 2   has_parking_True                    397915 non-null  int64
 3   total_floors_count                  131011 non-null  float64
 4   has_elevator_True                   397915 non-null  int64
 5   has_restroom_squat_seat             397915 non-null  int64
 6   has_warehouse_True                  397915 non-null  int64
 7   floor_material_stone                397915 non-null  int64
 8   deed_type_single_page               397915 non-null  int64
 9   unit_per_floor                      129392 non-null  float64
 10  building_size                       396991 non-null  float64
 11  has_parking_False                   397915 non-null  int64
 12  has_cooling_system_duct_split       397915 non-null  int64
 13  floor                               215700 non-null  float64
 14  has_heating_system_duct_split       397915 non-null  int64
 15  has_restroom_squat                  397915 non-null  int64
 16  has_warm_water_provider_package     397915 non-null  int64
 17  has_balcony_true                    397915 non-null  int64
 18  has_warm_water_provider_powerhouse  397915 non-null  int64
 19  has_heating_system_shoofaj          397915 non-null  int64
 20  building_direction_south            397915 non-null  int64
 21  has_elevator_False                  397915 non-null  int64
 22  deed_type_written_agreement         397915 non-null  int64
 23  land_size                           273900 non-null  Float64
 24  has_warehouse_False                 397915 non-null  int64
dtypes: Float64(1), float64(6), int64(18)
memory usage: 79.3 MB

# Decrease shape of Data by total_floors_count.notna and unit_per_floor.notna()

In [78]:
xy_train_price = xy_train_price[xy_train_price.unit_per_floor.notna()]
xy_test_price = xy_test_price[xy_test_price.unit_per_floor.notna()]
xy_train_credit = xy_train_credit[xy_train_credit.total_floors_count.notna()]
xy_test_credit = xy_test_credit[xy_test_credit.total_floors_count.notna()]

In [79]:
xy_train_price = xy_train_price[xy_train_price.land_size.notna()]
xy_test_price = xy_test_price[xy_test_price.land_size.notna()]
xy_train_credit = xy_train_credit[xy_train_credit.land_size.notna()]
xy_test_credit = xy_test_credit[xy_test_credit.land_size.notna()]

In [80]:
xy_train_price = xy_train_price[xy_train_price.total_floors_count.notna()]
xy_test_price = xy_test_price[xy_test_price.total_floors_count.notna()]

In [81]:
xy_train_credit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14421 entries, 949122 to 943362
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   transformed_credit                    14421 non-null  float64
 1   building_size                         14421 non-null  float64
 2   rooms_count                           14421 non-null  float64
 3   has_elevator_True                     14421 non-null  int64
 4   total_floors_count                    14421 non-null  float64
 5   has_parking_True                      14421 non-null  int64
 6   land_size                             14421 non-null  Float64
 7   has_restroom_squat                    14421 non-null  int64
 8   has_parking_False                     14421 non-null  int64
 9   has_warm_water_provider_water_heater  14421 non-null  int64
 10  has_heating_system_heater             14421 non-null  int64
 11  has_restroom_squat_seat               14421 non-null  int64
 12  floor_material_stone                  14421 non-null  int64
 13  has_elevator_False                    14421 non-null  int64
 14  has_cooling_system_duct_split         14421 non-null  int64
 15  has_heating_system_duct_split         14421 non-null  int64
dtypes: Float64(1), float64(4), int64(11)
memory usage: 1.9 MB

In [82]:
xy_train_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77786 entries, 409529 to 206080
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   price_value                         77786 non-null  float64
 1   rooms_count                         77786 non-null  float64
 2   has_parking_True                    77786 non-null  int64
 3   total_floors_count                  77786 non-null  float64
 4   has_elevator_True                   77786 non-null  int64
 5   has_restroom_squat_seat             77786 non-null  int64
 6   has_warehouse_True                  77786 non-null  int64
 7   floor_material_stone                77786 non-null  int64
 8   deed_type_single_page               77786 non-null  int64
 9   unit_per_floor                      77786 non-null  float64
 10  building_size                       77786 non-null  float64
 11  has_parking_False                   77786 non-null  int64
 12  has_cooling_system_duct_split       77786 non-null  int64
 13  floor                               77779 non-null  float64
 14  has_heating_system_duct_split       77786 non-null  int64
 15  has_restroom_squat                  77786 non-null  int64
 16  has_warm_water_provider_package     77786 non-null  int64
 17  has_balcony_true                    77786 non-null  int64
 18  has_warm_water_provider_powerhouse  77786 non-null  int64
 19  has_heating_system_shoofaj          77786 non-null  int64
 20  building_direction_south            77786 non-null  int64
 21  has_elevator_False                  77786 non-null  int64
 22  deed_type_written_agreement         77786 non-null  int64
 23  land_size                           77786 non-null  Float64
 24  has_warehouse_False                 77786 non-null  int64
dtypes: Float64(1), float64(6), int64(18)
memory usage: 15.5 MB

# Filling unit_per_floor null's

In [84]:
xy_train_price.floor = xy_train_price.floor.fillna(xy_train_price.floor.median())
xy_test_price.floor = xy_test_price.floor.fillna(xy_train_price.floor.median())

In [89]:
xy_train_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77786 entries, 409529 to 206080
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   price_value                         77786 non-null  float64
 1   rooms_count                         77786 non-null  float64
 2   has_parking_True                    77786 non-null  int64
 3   total_floors_count                  77786 non-null  float64
 4   has_elevator_True                   77786 non-null  int64
 5   has_restroom_squat_seat             77786 non-null  int64
 6   has_warehouse_True                  77786 non-null  int64
 7   floor_material_stone                77786 non-null  int64
 8   deed_type_single_page               77786 non-null  int64
 9   unit_per_floor                      77786 non-null  float64
 10  building_size                       77786 non-null  float64
 11  has_parking_False                   77786 non-null  int64
 12  has_cooling_system_duct_split       77786 non-null  int64
 13  floor                               77786 non-null  float64
 14  has_heating_system_duct_split       77786 non-null  int64
 15  has_restroom_squat                  77786 non-null  int64
 16  has_warm_water_provider_package     77786 non-null  int64
 17  has_balcony_true                    77786 non-null  int64
 18  has_warm_water_provider_powerhouse  77786 non-null  int64
 19  has_heating_system_shoofaj          77786 non-null  int64
 20  building_direction_south            77786 non-null  int64
 21  has_elevator_False                  77786 non-null  int64
 22  deed_type_written_agreement         77786 non-null  int64
 23  land_size                           77786 non-null  Float64
 24  has_warehouse_False                 77786 non-null  int64
dtypes: Float64(1), float64(6), int64(18)
memory usage: 15.5 MB

In [90]:
xy_train_credit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14421 entries, 949122 to 943362
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   transformed_credit                    14421 non-null  float64
 1   building_size                         14421 non-null  float64
 2   rooms_count                           14421 non-null  float64
 3   has_elevator_True                     14421 non-null  int64
 4   total_floors_count                    14421 non-null  float64
 5   has_parking_True                      14421 non-null  int64
 6   land_size                             14421 non-null  Float64
 7   has_restroom_squat                    14421 non-null  int64
 8   has_parking_False                     14421 non-null  int64
 9   has_warm_water_provider_water_heater  14421 non-null  int64
 10  has_heating_system_heater             14421 non-null  int64
 11  has_restroom_squat_seat               14421 non-null  int64
 12  floor_material_stone                  14421 non-null  int64
 13  has_elevator_False                    14421 non-null  int64
 14  has_cooling_system_duct_split         14421 non-null  int64
 15  has_heating_system_duct_split         14421 non-null  int64
dtypes: Float64(1), float64(4), int64(11)
memory usage: 1.9 MB

In [91]:
xy_test_credit.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6178 entries, 222351 to 995264
Data columns (total 16 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   transformed_credit                    6178 non-null   float64
 1   building_size                         6178 non-null   float64
 2   rooms_count                           6178 non-null   float64
 3   has_elevator_True                     6178 non-null   int64
 4   total_floors_count                    6178 non-null   float64
 5   has_parking_True                      6178 non-null   int64
 6   land_size                             6178 non-null   Float64
 7   has_restroom_squat                    6178 non-null   int64
 8   has_parking_False                     6178 non-null   int64
 9   has_warm_water_provider_water_heater  6178 non-null   int64
 10  has_heating_system_heater             6178 non-null   int64
 11  has_restroom_squat_seat               6178 non-null   int64
 12  floor_material_stone                  6178 non-null   int64
 13  has_elevator_False                    6178 non-null   int64
 14  has_cooling_system_duct_split         6178 non-null   int64
 15  has_heating_system_duct_split         6178 non-null   int64
dtypes: Float64(1), float64(4), int64(11)
memory usage: 826.5 KB

In [92]:
xy_test_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33208 entries, 255166 to 200188
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   price_value                         33208 non-null  float64
 1   rooms_count                         33208 non-null  float64
 2   has_parking_True                    33208 non-null  int64
 3   total_floors_count                  33208 non-null  float64
 4   has_elevator_True                   33208 non-null  int64
 5   has_restroom_squat_seat             33208 non-null  int64
 6   has_warehouse_True                  33208 non-null  int64
 7   floor_material_stone                33208 non-null  int64
 8   deed_type_single_page               33208 non-null  int64
 9   unit_per_floor                      33208 non-null  float64
 10  building_size                       33208 non-null  float64
 11  has_parking_False                   33208 non-null  int64
 12  has_cooling_system_duct_split       33208 non-null  int64
 13  floor                               33208 non-null  float64
 14  has_heating_system_duct_split       33208 non-null  int64
 15  has_restroom_squat                  33208 non-null  int64
 16  has_warm_water_provider_package     33208 non-null  int64
 17  has_balcony_true                    33208 non-null  int64
 18  has_warm_water_provider_powerhouse  33208 non-null  int64
 19  has_heating_system_shoofaj          33208 non-null  int64
 20  building_direction_south            33208 non-null  int64
 21  has_elevator_False                  33208 non-null  int64
 22  deed_type_written_agreement         33208 non-null  int64
 23  land_size                           33208 non-null  Float64
 24  has_warehouse_False                 33208 non-null  int64
dtypes: Float64(1), float64(6), int64(18)
memory usage: 6.6 MB

# Delete Outliers

In [180]:
xrp = xy_train_price.copy()
xrc = xy_train_credit.copy()

In [182]:
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler

df01 = xrp.drop(axis=1,columns = ['price_value'])
df02 = xrc.drop(axis=1,columns = ['transformed_credit'])
scaler1 = StandardScaler()
scaler2 = StandardScaler()

df1 = scaler1.fit_transform(df01)
df2 = scaler2.fit_transform(df02)

model1 = DBSCAN(eps=1,min_samples=2)
model2 = DBSCAN(eps=10,min_samples=2)

clusters1 = model1.fit_predict(df1)
clusters2 = model2.fit_predict(df2)

s1 = scaler1.inverse_transform(df1)
s2 = scaler2.inverse_transform(df2)

xrp2 = pd.DataFrame(s1, columns=df01.columns)
xrc2 = pd.DataFrame(s2, columns=df02.columns)

b1 = (xrp['price_value'].reset_index())['price_value']
b2 = (xrc['transformed_credit'].reset_index())['transformed_credit']

xrp2 = pd.concat([xrp2,b1],axis =1)
xrc2 = pd.concat([xrc2,b2],axis =1)

xrp2 = xrp2[clusters1 !=-1]
xrc2 = xrc2[clusters2 !=-1]

In [183]:
xrp.describe()

,price_value,rooms_count,has_parking_True,total_floors_count,has_elevator_True,has_restroom_squat_seat,has_warehouse_True,floor_material_stone,deed_type_single_page,unit_per_floor,...,has_restroom_squat,has_warm_water_provider_package,has_balcony_true,has_warm_water_provider_powerhouse,has_heating_system_shoofaj,building_direction_south,has_elevator_False,deed_type_written_agreement,land_size,has_warehouse_False
count,7.778600e+04,77786.000000,77786.000000,77786.000000,77786.000000,77786.000000,77786.000000,77786.000000,77786.000000,77786.000000,...,77786.000000,77786.000000,77786.000000,77786.000000,77786.000000,77786.000000,77786.000000,77786.000000,77786.0,77786.000000
mean,1.746381e+10,2.022588,0.831036,4.884632,0.719615,0.605546,0.882948,0.115239,0.767220,2.257951,...,0.306482,0.603978,0.824853,0.082650,0.577212,0.459401,0.280295,0.080066,110.974687,0.117052
std,5.077294e+11,0.699804,0.374722,2.639952,0.449190,0.488736,0.321484,0.319313,0.422606,1.379895,...,0.461035,0.489072,0.380095,0.275354,0.494006,0.498352,0.449146,0.271397,541.099316,0.321484
min,0.000000e+00,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,2.200000e+09,2.000000,1.000000,4.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,62.0,0.000000
50%,3.650000e+09,2.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,...,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,86.0,0.000000
75%,6.900000e+09,2.000000,1.000000,5.000000,1.000000,1.000000,1.000000,0.000000,1.000000,3.000000,...,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,120.0,0.000000
max,8.900000e+13,5.000000,1.000000,31.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,122005.0,1.000000

In [184]:
xrp2.describe()

,rooms_count,has_parking_True,total_floors_count,has_elevator_True,has_restroom_squat_seat,has_warehouse_True,floor_material_stone,deed_type_single_page,unit_per_floor,building_size,...,has_warm_water_provider_package,has_balcony_true,has_warm_water_provider_powerhouse,has_heating_system_shoofaj,building_direction_south,has_elevator_False,deed_type_written_agreement,land_size,has_warehouse_False,price_value
count,71133.000000,71133.000000,71133.000000,71133.000000,71133.000000,71133.000000,71133.000000,71133.000000,71133.000000,71133.000000,...,71133.000000,7.113300e+04,71133.000000,71133.000000,71133.000000,71133.000000,71133.000000,71133.000000,71133.000000,7.113300e+04
mean,2.013468,0.839020,4.609858,0.716629,0.612458,0.894536,0.107657,0.786527,2.139738,101.886508,...,0.620275,8.373329e-01,0.070277,0.591399,0.459787,0.283371,0.074579,95.495705,0.105464,1.680303e+10
std,0.671111,0.367515,1.854666,0.450638,0.487192,0.307153,0.309950,0.409762,1.183003,76.404504,...,0.485322,3.690643e-01,0.255615,0.491579,0.498384,0.450638,0.262712,64.856318,0.307153,5.055596e+11
min,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,1.110223e-16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,2.000000,1.000000,4.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,70.000000,...,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,62.000000,0.000000,2.200000e+09
50%,2.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,90.000000,...,1.000000,1.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,86.000000,0.000000,3.650000e+09
75%,2.000000,1.000000,5.000000,1.000000,1.000000,1.000000,0.000000,1.000000,3.000000,120.000000,...,1.000000,1.000000e+00,0.000000,1.000000,1.000000,1.000000,0.000000,117.000000,0.000000,6.700000e+09
max,5.000000,1.000000,31.000000,1.000000,1.000000,1.000000,1.000000,1.000000,9.000000,10542.000000,...,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,3328.000000,1.000000,8.900000e+13

In [185]:
xrc.describe()

,transformed_credit,building_size,rooms_count,has_elevator_True,total_floors_count,has_parking_True,land_size,has_restroom_squat,has_parking_False,has_warm_water_provider_water_heater,has_heating_system_heater,has_restroom_squat_seat,floor_material_stone,has_elevator_False,has_cooling_system_duct_split,has_heating_system_duct_split
count,1.442100e+04,1.442100e+04,14421.000000,14421.000000,14421.000000,14421.00000,14421.0,14421.000000,14421.00000,14421.00000,14421.000000,14421.000000,14421.000000,14421.000000,14421.000000,14421.000000
mean,9.406270e+08,2.347016e+02,2.149574,0.706331,4.982248,0.80993,119.634006,0.267041,0.19007,0.19007,0.168088,0.637751,0.211428,0.292976,0.147909,0.126760
std,1.496974e+09,8.860964e+03,0.732937,0.455458,2.951286,0.39237,241.437426,0.442429,0.39237,0.39237,0.373958,0.480667,0.408335,0.455143,0.355022,0.332715
min,0.000000e+00,2.000000e+01,0.000000,0.000000,2.000000,0.00000,0.0,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000e+08,8.000000e+01,2.000000,0.000000,4.000000,1.00000,75.0,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.000000e+08,1.050000e+02,2.000000,1.000000,5.000000,1.00000,100.0,0.000000,0.00000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000e+09,1.400000e+02,3.000000,1.000000,5.000000,1.00000,140.0,1.000000,0.00000,0.00000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,3.500000e+10,1.006070e+06,5.000000,1.000000,31.000000,1.00000,18000.0,1.000000,1.00000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [186]:
xrc2.describe()

,building_size,rooms_count,has_elevator_True,total_floors_count,has_parking_True,land_size,has_restroom_squat,has_parking_False,has_warm_water_provider_water_heater,has_heating_system_heater,has_restroom_squat_seat,floor_material_stone,has_elevator_False,has_cooling_system_duct_split,has_heating_system_duct_split,transformed_credit
count,14418.000000,14418.000000,14418.000000,14418.000000,1.441800e+04,14418.000000,14418.000000,14418.000000,14418.000000,14418.000000,14418.000000,1.441800e+04,14418.000000,14418.000000,14418.000000,1.441800e+04
mean,164.955056,2.149535,0.706339,4.981343,8.099598e-01,117.649119,0.267027,0.190040,0.190110,0.168123,0.637814,2.114718e-01,0.292967,0.147940,0.126786,9.406805e+08
std,2890.283604,0.732977,0.455454,2.948895,3.923463e-01,167.218683,0.442422,0.392346,0.392401,0.373989,0.480649,4.083663e-01,0.455139,0.355053,0.332745,1.497100e+09
min,20.000000,0.000000,0.000000,2.000000,-1.110223e-16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.775558e-17,0.000000,0.000000,0.000000,0.000000e+00
25%,80.000000,2.000000,0.000000,4.000000,1.000000e+00,75.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.775558e-17,0.000000,0.000000,0.000000,3.000000e+08
50%,105.000000,2.000000,1.000000,5.000000,1.000000e+00,100.000000,0.000000,0.000000,0.000000,0.000000,1.000000,-2.775558e-17,0.000000,0.000000,0.000000,5.000000e+08
75%,140.000000,3.000000,1.000000,5.000000,1.000000e+00,140.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-2.775558e-17,1.000000,0.000000,0.000000,1.000000e+09
max,240000.000000,5.000000,1.000000,31.000000,1.000000e+00,8000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000,3.500000e+10

# Create model for credit

## 1- Random Forest Regressor

In [189]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.model_selection import GridSearchCV
import math

train_sample = xrc2.copy()


X_train = train_sample.drop('transformed_credit',axis=1)
y_train = train_sample.transformed_credit

param_grid = {
    'n_estimators': [100, 200],
    'max_depth': [10, 15],
    'min_samples_split': [2, 3]
}

grid_search = GridSearchCV(
    estimator=RandomForestRegressor(max_samples=10000, n_jobs=-1,random_state = 42),
    param_grid=param_grid,
    cv=5,
    scoring='neg_mean_squared_error'
)
grid_search.fit(X_train, y_train)
print(grid_search.best_params_)
best_model = grid_search.best_estimator_
y_pred = best_model.predict(xy_test_credit.drop('transformed_credit',axis=1))

print(r2_score(xy_test_credit.transformed_credit,y_pred))
print(mean_squared_error(xy_test_credit.transformed_credit,y_pred))
print(mean_absolute_error(xy_test_credit.transformed_credit,y_pred))

{'max_depth': 10, 'min_samples_split': 3, 'n_estimators': 100}
0.5623348482249623
9.689514771404416e+17
450665450.3912772

## 2- LightGBM

In [197]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import lightgbm as lgb
import joblib

train_sample = xrc2
X_train = train_sample.drop('transformed_credit',axis=1)
y_train = train_sample.transformed_credit

base_params = {
    'objective': 'regression',
    'metric': 'rmse',
    'boosting_type': 'gbdt',  
    'verbose': -1,
    'random_state': 42
}

param_grid = {
    'num_leaves': [15, 31, 63],
    'learning_rate': [0.01, 0.05, 0.1],
    'feature_fraction': [0.6, 0.7, 0.8, 0.9],
    'bagging_fraction': [0.7, 0.8, 0.9, 1],
    'min_data_in_leaf': [5, 10, 20, 40],
    'lambda_l1': [0, 0.1, 0.5],
    'lambda_l2': [0, 0.1, 0.5]
}


model = lgb.LGBMRegressor(**base_params)


random_search = RandomizedSearchCV(
    estimator=model,
    param_distributions=param_grid,
    n_iter=20,
    scoring='neg_root_mean_squared_error',
    cv=5,
    n_jobs=-1,
    verbose=1,
    random_state=42
)

random_search.fit(X_train, y_train)

best_model = random_search.best_estimator_
print(random_search.best_params_)
print(-random_search.best_score_)
y_pred = best_model.predict(xy_test_credit.drop('transformed_credit',axis=1))
r2_score(xy_test_credit.transformed_credit,y_pred)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
{'num_leaves': 15, 'min_data_in_leaf': 10, 'learning_rate': 0.05, 'lambda_l2': 0, 'lambda_l1': 0.1, 'feature_fraction': 0.9, 'bagging_fraction': 0.8}
997785567.0357463

0.5663911097614903

# Create model for price

## 1- Random Forest Regressor

In [199]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import GridSearchCV

train_sample = xrp2.copy()

def conv(x):
    if x>0:
        return math.log10(x)
    return 0.001

def reconv(x):
    if x == 0.001:
        return 0
    return 10**x

train_sample['price_value'] = train_sample['price_value'].apply(lambda x: conv(x))
X_train = train_sample.drop('price_value',axis=1)
y_train = train_sample.price_value

param_grid = {
    'n_estimators': [200, 50],
    'max_depth': [5, 10],
    'min_samples_split': [20,100]
}
scoring = {
    
    
}
grid_search = GridSearchCV(
    estimator=RandomForestRegressor(max_samples=10000, n_jobs=-1,random_state = 42),
    param_grid=param_grid,
    cv=5,
    scoring='neg_mean_squared_error'
)
grid_search.fit(X_train, y_train)
print(grid_search.best_params_)
best_model = grid_search.best_estimator_
y_pred = best_model.predict(xy_test_price.drop('price_value',axis=1))
y_pred = pd.Series(y_pred).apply(lambda x: reconv(x))
r2_score(xy_test_price.price_value,y_pred)

{'max_depth': 10, 'min_samples_split': 100, 'n_estimators': 200}

0.0010279724589730144

## 2- LightGBM

In [200]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import lightgbm as lgb
import joblib

train_sample = xrp2
X_train = train_sample.drop('price_value',axis=1)
y_train = train_sample.price_value

base_params = {
    'objective': 'regression',
    'metric': 'rmse',
    'boosting_type': 'gbdt',  
    'verbose': -1,
    'random_state': 42
}

param_grid = {
    'num_leaves': [15, 31, 63],
    'learning_rate': [0.01, 0.05, 0.1],
    'feature_fraction': [0.6, 0.7, 0.8, 0.9],
    'bagging_fraction': [0.7, 0.8, 0.9, 1],
    'min_data_in_leaf': [5, 10, 20, 40],
    'lambda_l1': [0, 0.1, 0.5],
    'lambda_l2': [0, 0.1, 0.5]
}


model = lgb.LGBMRegressor(**base_params)


random_search = RandomizedSearchCV(
    estimator=model,
    param_distributions=param_grid,
    n_iter=20,
    scoring='neg_root_mean_squared_error',
    cv=5,
    n_jobs=-1,
    verbose=1,
    random_state=42
)

random_search.fit(X_train, y_train)

best_model = random_search.best_estimator_
print(random_search.best_params_)
print(-random_search.best_score_)

y_pred = best_model.predict(xy_test_price.drop('price_value',axis=1))
r2_score(xy_test_price.price_value,y_pred)

Fitting 5 folds for each of 20 candidates, totalling 100 fits
{'num_leaves': 63, 'min_data_in_leaf': 40, 'learning_rate': 0.01, 'lambda_l2': 0.5, 'lambda_l1': 0.1, 'feature_fraction': 0.9, 'bagging_fraction': 1}
467220970523.46747

-0.0050810604731112985